/*animations*/

button:focus {outline:0;}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/*animation end*/

body, html{
    margin: 0;
    font-family: "Brandon Grotesque";
    font-weight: bold;
    background-color: #edeff0;
}

a{
    color: inherit;
   text-decoration: none;
}

h1{
  text-align: center;
}

.text-center{
    text-align: center;
}

.front{
    margin-top: 10vh;
    background-color: #e0ebe8;
    width: 100%;
    height: 80vh;
    position: relative;
}
.front-nav{
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100%;
    background-color: white;
}
.front-nav-but{
    position: absolute;
    right:0;
    bottom: 0;
}

.front-nav-but button{
    background-color: transparent;
    border-style: none;
    color: #7cb290;
}

.front-nav-but button:hover{
   font-weight: bold;
}

.login{
    position: absolute;
    right: 10vw;
    top: 10vh;
    height: 50vh;
    width: 40vw;
    background-color: white;
    border-radius: 7px;
    font-family: "Roboto"
}

.login-top{
    position: absolute;
    top: 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: darkslategray;
    width: 100%;
    height: 10vh;
    line-height: 10vh;
    text-align: center;
    color: white;
    font-size: 24px;
    line-spacing: 3px;
    font-weight: bold;
}

.login-input{
    position: absolute;
    width: 100%;
    top: 20vh;
    text-align: center;
}

.login hr{
    position: absolute;
    bottom: 15vh;
    width: 90%;
    left: 5%;
}

.login button{
    position: absolute;
    bottom: 5vh;
    width: 80%;
    left: 10%;
    background-color: #c4be85;
    height: 7vh;
    border-radius: 7px;
    border-style: none;
}

.login-input input[placeholder="email"]{
    position: absolute;
    left: 5vh;
    width: 40%;
    border-radius: 7px;
    height: 7vh;
    border: 1px solid lightgrey;
}

.login-input input[placeholder="Password"]{
    position: absolute;
    right: 5vh;
    width: 40%;
    height: 7vh;
    border-radius: 7px;
    border: 1px solid lightgrey;
}

textarea:focus, input:focus{
    outline: none;
}

/* SIGN UP PAGE CSS */

.signup {
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    width: 100vw;
    font-family: "Brandon Grotesque";
}

.admin{
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    width: 100vw;
    font-family: "Brandon Grotesque";
}

.signup-form{
    position: absolute;
    width: 60vw;
    height: 80vh;
    left: 20vw;
    top: 10vh;
    border-radius: 10px;
    color: lightgray;
    background-color: white;
    text-align: center;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.signup-form input{
    border-style: none;
    background-color: transparent;
    border-bottom: 2px solid lightgray;
    width: 40vw;
    margin-bottom: 2vh;
}

.signup-info-container{
    position: absolute;
    width: 100%;
    height: 50vh;
    top: 10vh;
}

.signup-info{
    /*position: absolute;*/
    /*width: auto;*/
}

.signup-header{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 8vh;
    line-height: 8vh;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#signup-button{
    border-style: none;
    height: 5vh;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 20vw;
    margin-top: 12vh;
    border-radius: 5px;
    box-shadow: 1px 1px 1px lightgray;
    color: white;
    transition: 1s;
    font-size: 20px;
}

#image-upload{
    position: absolute;
    border-style: none;
    border-bottom: none;
    bottom: 65px;
    width: 50%;
    left: 44%;
    text-center: align;
}

#signup-button:hover{
    color: gold;
}

/* styles for the DASHBOARD */

.dash-nav{
    background-color: rgba(47,47,47,0.98);
    width: 100%;
    height: 7vh;
    position: fixed;
    top: 0;
}


.dash-nav-items{
    position: absolute;
    left: 0;
    bottom: 0;
    top: 2vh;
}

.dash-nav-items button{
    background-color: transparent;
    color: white;
    border-style: none;
    font-size: 18px;
    margin: 0 3vw;
    font-family: 'Brandon Grotesque';
    transition: color 0.2s ease-in;
    color: lightgray;
}

.dash-nav-items button:hover{
    color: gray;
}

#dash-logout{
    position: absolute;
    right: 2vw;
    bottom: 0;
    font-size: 18px;
    background-color: transparent;
    border-style: none;
    color: white;
    font-family: 'Brandon Grotesque';
    top: 1vh;
}


/* dashboard styles */

.dashboard-content{
    margin-top: 10vh;
    width: 100%;
    height:auto;
    overflow: auto;
}


/* cohort */

.cohort-entry{
    width: 25vw;
    height: 35vh;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.06);
    position:relative;
    display: inline-block;
    float:left;
    margin: 5vh 3.3vw;
    -webkit-transition: box-shadow 0.2s ease-out;
    -moz-transition: box-shadow 0.2s ease-out;
    -o-transition: box-shadow 0.2s ease-out;
    transition: box-shadow  0.2s ease-out;
    font-family: "Brandon Grotesque";
}

.quest-entry{
    position: relative;
    width: 70%;
    left: 15%;
    border: 1px solid lightgray;
}

#topic-entry{
    background-color: #53BBB4;
}
#lecture-entry{
    background-color: cornflowerblue;
}
#quiz-entry{
    background-color: mediumblue;
}
.lecture-button{
    position: absolute;
    left: 2vh;
    width: 40%;
    border: 2px solid lightgray;
    /*box-shadow: 0 2px 0 rgba(0,0,0,0.06);*/
    background-color: transparent;
    height: 5vh;
    font-size: 10px;
    border-radius: 5px;
    bottom: 2vh;
    transition: border 0.2s ease-in;
    color: gray;
}

#add-question{
    position: absolute;
    left: 2vh;
    width: 40%;
    border: 2px solid lightgray;
    /*box-shadow: 0 2px 0 rgba(0,0,0,0.06);*/
    background-color: transparent;
    height: 5vh;
    font-size: 10px;
    border-radius: 5px;
    bottom: 8vh;
    transition: border 0.2s ease-in;
    color: gray;
}
#add-question:hover{
    border: 2px solid grey;
}

.lecture-button:hover{
   border: 2px solid grey;
}

.cohort-entry:hover{
    box-shadow: 0px 0px 3px 7px rgba(0,0,0,0.1);
}

.cohort-holder {
    width: 95%;
    position: absolute;
    left: 2.5%;
    top: 20vh;
    text-align: center;
    z-index: -1;
}

.ch-entry-header {
    height: 5vh;
    line-height: 5vh;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #c4be85;
    color: #e0ebe8;
    position: relative;
}

#question-header{
    width: 100%;
    border-radius: 0;
}

.delete-class{
    position: absolute;
    right: 2vh;
    border-style: none;
    bottom: 2vh;
    background-color: transparent;
    transition: 0.3s ease-in;
}

.edit-button{
    position: absolute;
    right: 7vh;
    border-style: none;
    bottom: 2vh;
    background-color: transparent;
    transition: 0.3s ease-in;
}

.go-live{
    position:absolute;
    right: 2vh;
    top: 7vh;
    border-style: none;
    background-color: transparent;
    transition: 0.3s ease-in;
}

.go-live:hover{
    position: absolute;
    right: 2vh;
    top: 6vh;
    border-style: none;
    box-shadow: none;
}

.delete-class:hover{
    position: absolute;
    right: 2vh;
    bottom: 3vh;
    border-style: none;
    box-shadow: none;
}

.edit-button:hover{
    position: absolute;
    right: 7vh;
    bottom: 3vh;
    border-style: none;
    box-shadow: none;
}


/*Add Class */

.add-class-container{
    position: absolute;
    width: 100%;
}
.add-class-form{
    position: absolute;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.06);
    left: 30vw;
    top: 10vh;
    width: 40vw;
    height: 70vh;
}

#class-add{
    top: 2vh;
    height: 80vh;
}

#question-form{
    position: absolute;
    top: 8vh;
    height: 60vh;
}

#edit-class{
    height: 50vh;
}

.add-class-input-container{
    position: absolute;
    top: 5vh;
    width: 80%;
    left: 10%;
}
.add-class-form input{
    /*position: absolute;*/
    /*left: 15%;*/
    text-align: center;
    display: inline-block;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    width: 100%;
}

.add-class-inps{
    margin-bottom: 8vh;
}

.add-class-form input[type="email"]{
    box-shadow: 0px 0px 3px lightgray;
}

#add-class-submit{
    margin-top: 3vh;
    background-color: #c4be85;
    border-radius: 4px;
    font-size: 18px;
    position: absolute;
    left: 2vh;
    bottom: 2vh;
    width: 40%;
    height: 5vh;
    color: white;
    box-shadow: none;
    font-family: "Brandon Grotesque";
}

/*.add:hover{*/
    /*box-shadow: 0px 0px 3px lightgray;*/
/*}*/

/* end of add class */
.class-nav {
    position: absolute;
    top: 10vh;
    background-color: white;
    width: 30%;
    left: 35%;
    height: 8vh;
    border-radius: 5px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.06);
    z-index: -1;
    text-align: center;
    font-family: "Brandon Grotesque";
}

#attendance{
    position: absolute;
    right: 8%;
    width: 5%;
    height: 8vh;
    border-style: none;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 0 rgba(0,0,0,0.06);
}

.track{
    position: absolute;
    left: 0%;
    border-style: none;
    background-color: transparent;
}

#single-nav{
    position: absolute;
    width: 20%;
    left: 40%;
}

.class-nav button:hover{
    box-shadow: 0px 0px 3px 3px lightgray;
}

.single-hit{
    border-style: none;
    background-color: darkgray;
    color: white;
    position: absolute;
    left: 10%;
    bottom: 0;
    height: 80%;
    top: 10%;
    width: 80%;
    border-radius: 5px;
    font-size: 16px;
    transition:0.3s;
}

.addC-left{
    border-style: none;
    background-color: darkgray;
    color: white;
    position: absolute;
    left: 2vh;
    bottom: 0;
    height: 80%;
    top: 10%;
    width: 45%;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

.addC-right{
    border-style: none;
    background-color: lightsteelblue;
    color: white;
    position: absolute;
    right: 2vh;
    bottom: 0;
    height: 80%;
    top: 10%;
    width: 45%;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

#lecleft{
    position:absolute;
    width: 30%;
    left: 2%
}

#lecmid{
    position: absolute;
    width: 30%;
    left: 35%;
    background-color: #243B55;
}

#lecright{
    position: absolute;
    width: 30%;
    right: 2%;
}


.addL-left{
    border-style: none;
    background-color: mediumspringgreen;
    color: white;
    position: absolute;
    left: 2vh;
    bottom: 0;
    height: 80%;
    top: 10%;
    width: 45%;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

.addL-right{
    border-style: none;
    background-color: mediumpurple;
    color: white;
    position: absolute;
    right: 2vh;
    bottom: 0;
    height: 80%;
    top: 10%;
    width: 45%;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

.addT-left{
    border-style: none;
    background-color: mediumspringgreen;
    color: white;
    position: absolute;
    left: 2vh;
    bottom: 0;
    height: 80%;
    top: 10%;
    width: 45%;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

.addT-right{
    border-style: none;
    background-color: mediumpurple;
    color: white;
    position: absolute;
    right: 2vh;
    bottom: 0;
    height: 80%;
    top: 10%;
    width: 45%;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}


.modal-header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 3vh;
}

.quest-ls{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.q-header{
    bottom-border: 2px solid lightgray;
    font-size: 18px;
}

.quest-holder{
    width: 90%;
    height: 300px;
    overflow: auto;
}




/*//still needs styling*/
/*@media (max-width: 376px) {
  .search-container{
    display: inline-block;
    position: absolute;
    right: 12vh;
    bottom: 1.8vh;
    width: 30%;
    height: 3vh;
  }

  .nav-search-submit{
    position:absolute;
    right: -375px;
    border-style: none;
    background-color: white;
    opacity: 0.1%;
    border-radius: 1px;
    height: 104%;
  }

  .nav-search{
    position:absolute;
    right: 0;
    border-style: none;
    background-color: white;
    width: 70%;
    border-radius: 5px;
    height: 20%;
  }

  .search-btn{
  background-color: rgb(0, 0, 0, 0.1);
  color: #fff;
  border: 1px solid #dddddd;
  text-align: center;
  outline: none;
  text-decoration: none;
  border-radius: 1px;
}

}*/



.filter-bar{
    position: absolute;
    left: 0;
    width: 30%;
    height: 100%;
    background-color: lightsteelblue;
    border-radius: 5px;
}

.searched-container{
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 1250px;
  margin: 0 auto;
  padding: 5px;
  top: 20px;
  overflow: auto;
  z-index: -2;
  background-color: red solid 4px;
}

hr{
  display: inline-block;
  position: relative;
  width: 90%;
  left: 45px;
}

.searched-cohorts{
  display: inline-block;
  position: relative;
  width: 99%;
  height: auto;
  left: 0;
  right: 0;
  top: 10px;
  bottom: 0;
  margin-bottom: 20px;
}

.searched-lectures{
  display: inline-block;
  position: relative;
  width: 99%;
  height: auto;
  left: 0;
  right: 0;
  top: 10px;
  bottom: 0;
  margin-bottom: 20px;
}


.searched-topics{
  display: inline-block;
  position: relative;
  width: 99%;
  height: 650px;
  left: 0;
  right: 0;
  top: 10px;
  bottom: 0;
  margin-bottom: 20px;
}

.searched-quizzes{
  display: inline-block;
  position: relative;
  width: 99%;
  height: 650px;
  left: 0;
  right: 0;
  top: 10px;
  bottom: 0;
  margin-bottom: 20px;
}

.hidden{
  display: none;
}

.cohort-entry.animated.boundInUp{
  z-index: 0;
  text-align: center;
}

.ch-entry-header{
  text-align: center;
}

.class-time{
  text-align: center;
}

.cohort-entry{
  text-align: center;
}

.cohort-entry{
  z-index: 0;
}

.animated{
  z-index: 0;
}



.lecture-filter{
    position: absolute;
    top: 45vh;
    border-radius: 6px;
    width: 70vw;
    left: 15vw;
    height: 50vh;
    background-color: white;
    color: white;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.topic-filter{
    position: absolute;
    background-color: #6b717a;
    left: 0;
    width: 25vw;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 100%;
}

.lecture-filter{
    position: absolute;
    top: 45vh;
    border-radius: 6px;
    width: 70vw;
    left: 15vw;
    height: 50vh;
    background-color: white;
    color: white;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.topic-filter{
    position: absolute;
    background-color: #6b717a;
    left: 0;
    width: 25vw;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 100%;
}

.topic-header{
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #6b717a;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    border-top-left-radius: 6px;
    text-align: center;
    height:6vh;
    line-height: 6vh;
}

#student-header{
    background-color: white;
    color: black;
    border-top-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom: 1px solid lightgray;
}

.student-question-filter{
    position: absolute;
    right: 0vh;
    width: 45vw;
}

.scroll-topics{
    position: absolute;
    top: 6vh;
    height: 44vh;
    overflow: auto;
    width: 100%;
}

#student-questions{
    color: black;
}

.question-container{
    height: 6vh;
}

.question-bubble{
    margin-top: 1vh;
    background-color: #c2c7ce;
    width: 80%;
    margin-left: 10%;
    border-radius: 5px;
    height: auto;
    padding-left: 2%;
    padding-right: 2%;
    color: black;
}
.question-bubble em{
    padding-right: 1%;
}

.livetop{
    height: 6vh;
    line-height: 6vh;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    cursor: pointer;
}

.disabled{
    opacity: 0.65;
    cursor: not-allowed;
}

.large.card{
  margin: 0 auto;
}

.card-content{
  margin: 0 auto;
}

.material-icons.right{
  display: none;
  visibility: hidden;
}

.teacher-profile{
    position: absolute;
    width: 60vw;
    height: 80vh;
    top: 15vh;
    left: 20vw;
    border-radius: 8px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.06);
    background-color: white;
}

.teacher-header{
    background-color: #9298a0;
    position: absolute;
    top: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 15vh;
    width: 100%;
}

.profile-image{
  display: block;
  position: absolute;
  height: 25vh;
  width: 12vw;
  border-radius: 50%;
  left: 24vw;
  top: 3vh;
    z-index: 3;
}

.prof-name{
    margin-top: 28vh;
    text-center: align;
    border-bottom: 3px solid rgba(0,0,0,0.06);
    width: 90%;
    margin-left: 5%;
}

.pop-quiz{
    text-align: center;
    box-shadow: 0px 2px 2px lightgray;
    margin: 3vh 15vw;
    width: 30vw;
    transition: box-shadow 0.3s ease-in;
}

.pop-quiz:hover{
    box-shadow: 0 0 3px 4px lightgray;
}

.edit-forms{
    width: 100%;
}

.edit-forms input{
    display: block;
    border-style: none;
    width: 10vw;
    margin: 1vh 3vw;
    background-color: lightgray;
    border-radius: 4px;
    height: 3vh;
    color: black;
}
.edit-forms label{
    margin: 1vh 3vw;
}

#edit-sub{
    width: 6vw;
    margin: 1vw;
    background-color: transparent;
    border-style: none;
    transition: box-shadow 0.3s ease-in;
}


.popquiz-container{
    position: absolute;
    width: 100%;
    height: 30%;
    top: 10%;
    z-index: -2;
}

.pop-quiz-clock{
    position: absolute;
    top: 0vh;
    left: 40%;
    width: 20%;
    height: 200px;
    padding-left: 3%;
}

.livedata{
    position:absolute;
    width: 90%;
    left: 5%;
    top: 32vh;
    height: 55vh;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.06);
}

.bars{
    position: absolute;
    bottom: 9.5%;
    margin: 0 2vw;
    padding: 0 4vw;
}

.quiz-line{
    position: absolute;
    bottom: 0;
    height: 5vh;
    border-top: 1px solid lightgray;
    text-align: center;
    width: 90%;
    left: 5%;
}

#legend{
    top: 0;
    border-bottom: 1px solid lightgray;
    border-top: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.legend-keys{
    height: 2vh;
    width: 2vh;
    display: inline-block;
    margin-left: 1vw
}

#fail{
    background-color: red;
}

#pass{
    background-color: yellow;
}

#exceed{
    background-color: green;
}

.search-container{
    position: absolute;
    right: 30vh;
    bottom: 1.5vh;
    width: 20%;
    height: 4vh;
}

.nav-search{
    position:absolute;
    right: -9.5px;
    border-style: none;
    background-color: white;
    width: 90%;
    border-radius: 5px;
    height: 100%;
}

.search-btn{
  background-color: rgb(0, 0, 0, 0.1);
  color: #fff;
  border: 1px groove #a9a9a9;
  text-align: center;
  outline: none;
  text-decoration: none;
  border-radius: 30px;
}

.search-btn:hover{
  background-color: white;
  color: #c4be85;
  border: 1px solid #a9a9a9;
  text-align: center;
  outline: none;
  border-radius: 30px;
}

.nav-search-submit{
    position:absolute;
    right: -83px;
    border-style: none;
    background-color: #a9a9a9;
    opacity: 0.1%;
    width: 35%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 110%;
}

#admin-login{
    position: absolute;
    bottom: 1vh;
    left: 1vh;
    width: 8vh;
    height: 2vh;
    border-style: none;
    background-color: transparent;
    color: navy;
}

#admin-login:hover{
    text-decoration: underline;
    font-weight: bold;
}

.hitit{
    width: auto;
}
/*#edit-sub:hover{*/
    /*box-shadow: 0 0 3px 3px lightgray;*/
/*}*/


.admin-contain{
    display: flex;
    margin-top: 10vh;
    width: 100%;
    height: 100vh;
    flex-direction: row;
}

.admin-info{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.badge-info{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 60%;
    width: 70%;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    margin-top: 5vh;
    box-shadow: 0 2px 0 rgba(0,0,0,0.06);
    border: 1px solid lightgray;
}


.badge-info img{
    border-radius: 50%;
    position: absolute;
    top: 10%;
    height: 20vh;
    width: 20vh;
    /*background-color: white;*/
}

.badge-info h2{
    margin-top: 10vh;
}

.badge-info hr{
    width: 80%;
    position: static;
    /*right: 10%;*/
}

.badge-header{
    height: 30%;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ad-logout{
    width: 50%;
    position: absolute;
    bottom: 2vh;
    left:25%;
    height: 4vh;
    border-style: none;
    border-radius: 5px;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    font-size: 18px;
    font-family: "Brandon Grotesque";
    box-shadow: 0 2px 0 rgba(0,0,0,0.06);
    transition: box-shadow 0.3s;
}

.ad-logout:hover{
    box-shadow: 0 0 3px 4px slategray;
}

.school{
    font-weight: bold;
    font-size: 2em;
}

.ad-right{
    /*position: absolute;*/
    /*right: 2vh;*/
}


.performance-info{
    flex: 2;
}

.performance-holder{
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 85%;
    margin-left: 7.5%;
    margin-top: 5vh;
    border-radius: 8px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.06), 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid lightgray;
    background-color: white;
}

.perf-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
    align-items: center;
    border-bottom: 1px solid lightgray;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.perf-body {
    /*display: flex;*/
    /*flex-direction: column;*/
    overflow: auto;
    flex: 8;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.perf-entry {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10vh;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.perf-code{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 10vw;
    border-radius: 3px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.06);
}

.admin-banner{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(47,47,47,0.98);
    height: 7vh;
    font-size: 40px;
    text-align: center;
    color: white;
}

.ent-header{
    display:flex;
    flex: 1;
    justify-content: space-around;
    width: 100%;
    background-color: whitesmoke;
    box-shadow: 0 2px 2px -1px gray;
}

.ent-header h3{
    margin: 0;
    color: black;
}

.stats{
    display: flex;
    flex: 2;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.stats h4{
    font-weight: lighter;
}
