/*animations*/

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/*animation end*/

body{
    margin: 0;
    font-family: "Brandon Grotesque";
    font-weight: bold;
    background-color: #edeff0;
}

a{
    color: inherit;
   text-decoration: none;
}

.front{
    margin-top: 10vh;
    background-color: #e0ebe8;
    width: 100%;
    height: 80vh;
    position: relative;
}
.front-nav{
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100%;
    background-color: white;
}
.front-nav-but{
    position: absolute;
    right:0;
    bottom: 0;
}

.front-nav-but button{
    background-color: transparent;
    border-style: none;
    color: #7cb290;
}

.front-nav-but button:hover{
   font-weight: bold;
}

.login{
    position: absolute;
    right: 10vw;
    top: 10vh;
    height: 50vh;
    width: 40vw;
    background-color: white;
    border-radius: 7px;
    font-family: "Roboto"
}

.login-top{
    position: absolute;
    top: 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: darkslategray;
    width: 100%;
    height: 10vh;
    line-height: 10vh;
    text-align: center;
    color: white;
    font-size: 24px;
    line-spacing: 3px;
    font-weight: bold;
}

.login-input{
    position: absolute;
    width: 100%;
    top: 20vh;
    text-align: center;
}

.login hr{
    position: absolute;
    bottom: 15vh;
    width: 90%;
    left: 5%;
}

.login button{
    position: absolute;
    bottom: 5vh;
    width: 80%;
    left: 10%;
    background-color: #c4be85;
    height: 7vh;
    border-radius: 7px;
    border-style: none;
}

.login-input input[placeholder="email"]{
    position: absolute;
    left: 5vh;
    width: 40%;
    border-radius: 7px;
    height: 7vh;
    border: 1px solid lightgrey;
}

.login-input input[placeholder="Password"]{
    position: absolute;
    right: 5vh;
    width: 40%;
    height: 7vh;
    border-radius: 7px;
    border: 1px solid lightgrey;
}

textarea:focus, input:focus{
    outline: none;
}

/* SIGN UP PAGE CSS */

.signup {
    background: #093028;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #237A57, #093028);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #237A57, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    width: 100vw;
    font-family: "Brandon Grotesque";
}

.signup-form{
    position: absolute;
    width: 60vw;
    height: 80vh;
    left: 20vw;
    top: 10vh;
    border-radius: 10px;
    color: lightgray;
    background-color: white;
    text-align: center;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.signup-form input{
    border-style: none;
    background-color: transparent;
    border-bottom: 2px solid lightgray;
    width: 40vw;
    margin-bottom: 5vh;
}

.signup-info-container{
    position: absolute;
    width: 100%;
    height: 50vh;
    top: 10vh;
}

.signup-info{
    position: absolute;
    width: auto;
}

.signup-header{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 8vh;
    line-height: 8vh;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#signup-button{
    border-style: none;
    height: 8vh;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 30vw;
    margin-top: 2vh;
    border-radius: 5px;
    box-shadow: 1px 1px 1px lightgray;
    color: white;
    transition: 1s;
    font-size: 20px;
}

#signup-button:hover{
    color: gold;
}

/* styles for the DASHBOARD */

.dash-nav{
    background-color: darkslategray;
    width: 100%;
    height: 7vh;
    position: fixed;
    top: 0;
}

.dash-nav-items{
    position: absolute;
    left: 0;
    bottom: 0;
    top: 2vh;
}

.dash-nav-items button{
    background-color: transparent;
    color: white;
    border-style: none;
    font-size: 18px;
    margin: 0 3vw;
    font-family: 'Brandon Grotesque';
    transition: color 0.2s ease-in;
    color: lightgray;
}

.dash-nav-items button:hover{
    color: gray;
}

#dash-logout{
    position: absolute;
    right: 2vw;
    bottom: 0;
    font-size: 18px;
    background-color: transparent;
    border-style: none;
    color: white;
    font-family: 'Brandon Grotesque';
    top: 1vh;
}


/* dashboard styles */

.dashboard-content{
    margin-top: 10vh;
    width: 100%;
    height:auto;
    overflow: auto;
}


/* cohort */

.cohort-entry{
    width: 20vw;
    height: 30vh;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.06);
    position:relative;
    display: inline-block;
    float:left;
    margin: 5vh 5vw;
    -webkit-transition: box-shadow 0.2s ease-out;
    -moz-transition: box-shadow 0.2s ease-out;
    -o-transition: box-shadow 0.2s ease-out;
    transition: box-shadow  0.2s ease-out;
    font-family: "Brandon Grotesque";
}

.lecture-button{
    position: absolute;
    left: 2vh;
    width: 40%;
    border: 2px solid lightgray;
    /*box-shadow: 0 2px 0 rgba(0,0,0,0.06);*/
    background-color: transparent;
    height: 5vh;
    font-size: 10px;
    border-radius: 5px;
    bottom: 2vh;
    transition: border 0.2s ease-in;
    color: gray;
}

.lecture-button:hover{
   border: 2px solid grey;
}

.cohort-entry:hover{
    box-shadow: 0px 0px 3px 7px rgba(0,0,0,0.1);
}

.cohort-holder {
    width: 90%;
    position: absolute;
    left: 5%;
    top: 20vh;
    text-align: center;
    z-index: -1;
}

.ch-entry-header {
    height: 5vh;
    line-height: 5vh;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #c4be85;
    color: #e0ebe8;
    position: relative;
}

.delete-class{
    position: absolute;
    right: 2vh;
    border-style: none;
    bottom: 2vh;
    background-color: transparent;
    transition: 0.3s ease-in;
}

.delete-class:hover{
    position: absolute;
    right: 2vh;
    bottom: 3vh;
    border-style: none;
    box-shadow: none;
}


/*Add Class */

.add-class-container{
    position: absolute;
    width: 100%;
}
.add-class-form{
    position: absolute;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.06);
    left: 30vw;
    top: 10vh;
    width: 40vw;
    height: 50vh;
}

.add-class-input-container{
    position: absolute;
    top: 5vh;
    width: 80%;
    left: 10%;
}
.add-class-form input{
    /*position: absolute;*/
    /*left: 15%;*/
    text-align: center;
    display: inline-block;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    width: 100%;
}

.add-class-inps{
    margin-bottom: 8vh;
}

.add-class-form input[type="email"]{
    box-shadow: 0px 0px 3px lightgray;
}

#add-class-submit{
    margin-top: 3vh;
    background-color: #c4be85;
    border-radius: 4px;
    font-size: 18px;
    position: absolute;
    left: 2vh;
    bottom: 2vh;
    width: 40%;
    height: 5vh;
    color: white;
    box-shadow: none;
    font-family: "Brandon Grotesque";
}

/*.add:hover{*/
    /*box-shadow: 0px 0px 3px lightgray;*/
/*}*/

/* end of add class */
