body{
    margin: 0;
}

a{
    color: inherit;
   text-decoration: none;
}

.front{
    margin-top: 10vh;
    background-color: #e0ebe8;
    width: 100%;
    height: 80vh;
    position: relative;
}
.front-nav{
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100%;
    background-color: white;
}
.front-nav-but{
    position: absolute;
    right:0;
    bottom: 0;
}

.front-nav-but button{
    background-color: transparent;
    border-style: none;
    color: #7cb290;
}

.front-nav-but button:hover{
   font-weight: bold;
}

.login{
    position: absolute;
    right: 10vw;
    top: 10vh;
    height: 50vh;
    width: 40vw;
    background-color: white;
    border-radius: 7px;
    font-family: "Brandon Grotesque"
}

.login-top{
    position: absolute;
    top: 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: darkslategray;
    width: 100%;
    height: 10vh;
    line-height: 10vh;
    text-align: center;
    color: white;
    font-size: 24px;
    line-spacing: 3px;
    font-weight: bold;
}

.login-input{
    position: absolute;
    width: 100%;
    top: 20vh;
    text-align: center;
}

.login hr{
    position: absolute;
    bottom: 15vh;
    width: 90%;
    left: 5%;
}

.login button{
    position: absolute;
    bottom: 5vh;
    width: 80%;
    left: 10%;
    background-color: #c4be85;
    height: 7vh;
    border-radius: 7px;
    border-style: none;
}

.login-input input[placeholder="email"]{
    position: absolute;
    left: 5vh;
    width: 40%;
    border-radius: 7px;
    height: 7vh;
    border: 1px solid lightgrey;
}

.login-input input[placeholder="Password"]{
    position: absolute;
    right: 5vh;
    width: 40%;
    height: 7vh;
    border-radius: 7px;
    border: 1px solid lightgrey;
}

textarea:focus, input:focus{
    outline: none;
}

/* SIGN UP PAGE CSS */

.signup {
    background: #093028;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #237A57, #093028);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #237A57, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    width: 100vw;
    font-family: "Brandon Grotesque";
}

.signup-form{
    position: absolute;
    width: 60vw;
    height: 80vh;
    left: 20vw;
    top: 10vh;
    border-radius: 10px;
    color: lightgray;
    background-color: white;
    text-align: center;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.signup-form input{
    border-style: none;
    background-color: transparent;
    border-bottom: 2px solid lightgray;
    width: 40vw;
    margin-bottom: 5vh;
}

.signup-info-container{
    position: absolute;
    width: 100%;
    height: 50vh;
    top: 10vh;
}

.signup-info{
    position: absolute;
    width: auto;
}

.signup-header{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 8vh;
    line-height: 8vh;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#signup-button{
    border-style: none;
    height: 8vh;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 30vw;
    margin-top: 2vh;
    border-radius: 5px;
    box-shadow: 1px 1px 1px lightgray;
    color: white;
    transition: 1s;
    font-size: 20px;
}

#signup-button:hover{
    color: gold;
}

/* styles for the DASHBOARD */

.dash-nav{
    background-color: darkslategray;
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
}

.dash-nav-items{
    position: absolute;
    left: 0;
    bottom: 0;
}

.dash-nav-items button{
    background-color: transparent;
    color: white;
    border-style: none;
    font-size: 18px;
    margin: 0 5vw;
    font-family: 'Brandon Grotesque';
}

#dash-logout{
    position: absolute;
    right: 2vw;
    bottom: 0;
    font-size: 18px;
    background-color: transparent;
    border-style: none;
    color: white;
    font-family: 'Brandon Grotesque';
}


